/*
--------------------------------------------------------------
Menu Categories
--------------------------------------------------------------
*/

#menu-categories {
  margin: 20px 0 55px;
}

#menu-categories > .container-fluid {
  padding: 0 40px;
}

/*
--------------------------------------------------------------
Menu Categories Title
--------------------------------------------------------------
*/

#menu-categories-title {
  padding: 55px 0 35px;
}

#menu-categories-title h1 {
  font-size: 40px;
  margin: 0 0 7px;
}

/*
--------------------------------------------------------------
Menu Categories Subtitle
--------------------------------------------------------------
*/

#menu-categories-title h3 {
  margin: 0;
}

/*
--------------------------------------------------------------
Individual Menu Categories
--------------------------------------------------------------
*/

#menu-categories .col-sm-3 > a {
  display: block;
  /*-webkit-transition: opacity ease-in-out 200ms;
  -moz-transition: opacity ease-in-out 200ms;
  -o-transition: opacity ease-in-out 200ms;
  transition: opacity ease-in-out 200ms;*/

}

#menu-categories .col-sm-3 > a:focus,
#menu-categories .col-sm-3 > a:hover {
  text-decoration: none;
  opacity: .85;
}

#menu-categories .col-sm-3 > a.appetizers.menu-category {
  background-image: url('../img/tempura.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#menu-categories .col-sm-3 > a.fish.menu-category {
  background-image: url('../img/sushi.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#menu-categories .col-sm-3 > .entrees.menu-category {
  background-image: url('../img/pho.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#menu-categories .col-sm-3 > .desserts.menu-category {
  background-image: url('../img/mochi.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.category-name {
  display: table;
  height: 450px;
}

.category-name h3 {
  margin: 0;

  color: #fff;
  font-size: 28px;
  /*text-shadow: 0 2px 3px rgba(0,0,0,.4);*/
  display: table-cell;
  vertical-align: middle;
}

/*Red background for hard to see category names*/
.category-name h3 span {
  padding: 6px 15px;

  background-color: #b31217;
}

/*
--------------------------------------------------------------
Category Splashes
--------------------------------------------------------------
*/

.category-splash {
  background-color: #b31217;
  height: 180px;
  width: 100%;
}

.category-splash span {
  background-color: #b31217;
  padding: 6px 15px;
  color: #fff;
  line-height: 180px;
}

.category-splash h1 {
  margin: 0;
  font-size: 48px;
}

/*
--------------------------------------------------------------
Menu
--------------------------------------------------------------
*/

/*
--------------------------------------------------------------
Menu Item
--------------------------------------------------------------
*/

.menu-item {
  height: 200px;
  padding-top: 6px;
}

.col-md-3 {
  margin: 8px 0;
}

.menu-item h4 span {
  color: #fff;
  background-color: #b31217;
  padding: 5px 15px;
  /*line-height: 190px;*/
  opacity: .85;
}

.menu-item h4 {
  /*text-align: center;*/
  margin: 0;
}

/*
--------------------------------------------------------------
Appetizers Splash
--------------------------------------------------------------
*/

/*
--------------------------------------------------------------
Appetizers
--------------------------------------------------------------
*/

#appetizers {
  margin: 40px 0 55px;
}

#gyoza.menu-item {
  background: url('../img/gyoza.jpg');
  background-size: cover;
  background-position: center;
}

#edamame.menu-item {
  background: url('../img/edamame.jpg');
  background-size: cover;
  background-position: center;
}

#calamari.menu-item {
  background: url('../img/calamari.png');
  background-size: cover;
  background-position: center;
}

#tempura.menu-item {
  background: url('../img/tempura-menu.jpg');
  background-size: cover;
  background-position: center;
}

/*
--------------------------------------------------------------
Fish Splash
--------------------------------------------------------------
*/

/*
--------------------------------------------------------------
Fish
--------------------------------------------------------------
*/

#fish {
  margin: 40px 0 55px;
}

#tuna-maguro.menu-item {
  background: url('../img/tuna-maguro.jpg');
  background-size: cover;
  background-position: center;
}

#tuna-belly-toro.menu-item {
  background: url('../img/tuna-belly-toro.jpg');
  background-size: cover;
  background-position: center;
}


#white-tuna-albacore.menu-item {
  background: url('../img/white-tuna-albacore.jpg');
  background-size: cover;
  background-position: center;
}

#salmon-sake.menu-item {
  background: url('../img/salmon-sake.jpg');
  background-size: cover;
  background-position: center;
}

#yellow-tail-hamachi.menu-item {
  background: url('../img/yellow-tail-hamachi.jpg');
  background-size: cover;
  background-position: center;
}

#striped-bass-suzuki.menu-item {
  background: url('../img/striped-bass-suzuki.jpg');
  background-size: cover;
  background-position: center;
}

#mackerel-saba.menu-item {
  background: url('../img/mackerel-saba.jpg');
  background-size: cover;
  background-position: center;
}

#salmon-roe-ikura.menu-item {
  background: url('../img/salmon-roe-ikura.jpg');
  background-size: cover;
  background-position: center;
}

#egg-tamago.menu-item {
  background: url('../img/egg-tamago.jpg');
  background-size: cover;
  background-position: center;
}

#octopus-tako.menu-item {
  background: url('../img/octopus-tako.jpg');
  background-size: cover;
  background-position: center;
}

#shrimp-ama-ebi.menu-item {
  background: url('../img/shrimp-ama-ebi.jpg');
  background-size: cover;
  background-position: center;
}

#crab-stick-kani.menu-item {
  background: url('../img/crab-stick-kani.jpg');
  background-size: cover;
  background-position: center;
}

#eel-unagi.menu-item {
  background: url('../img/eel-unagi.jpg');
  background-size: cover;
  background-position: center;
}

#king-crab.menu-item {
  background: url('../img/king-crab.jpg');
  background-size: cover;
  background-position: center;
}

/*
--------------------------------------------------------------
Entrees Splash
--------------------------------------------------------------
*/

/*
--------------------------------------------------------------
Entrees
--------------------------------------------------------------
*/

#entrees {
  margin: 40px 0 55px;
}

#pho.menu-item {
  background: url('../img/pho.jpg');
  background-size: cover;
  background-position: center;
}

#hibachi.menu-item {
  background: url('../img/hibachi.jpg');
  background-size: cover;
  background-position: center;
}

/*
--------------------------------------------------------------
Desserts Splash
--------------------------------------------------------------
*/

/*
--------------------------------------------------------------
Desserts
--------------------------------------------------------------
*/

#desserts {
  margin: 40px 0 55px;
}

#mochi.menu-item {
  background: url('../img/mochi.jpg');
  background-size: cover;
  background-position: center;
}

#assorted-fruits.menu-item {
  background: url('../img/assorted-fruits.jpg');
  background-size: cover;
  background-position: center;
}


