/*
--------------------------------------------------------------
Header/ Navigation
--------------------------------------------------------------
*/



/*
--------------------------------------------------------------
.navbar-default
--------------------------------------------------------------
*/

.navbar-default {
  background-color: rgba(255, 255, 255, 0.96);
  border-color: transparent;
  border: 0;
}
.navbar-default .navbar-brand {
  color: #000;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #000;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: #000;
}
.navbar-default .navbar-nav > li > a {
  color: #000;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #942A01;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #942A01;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: #fff;
  background-color: #942A01;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #942A01;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7e7e7;
}

/*
--------------------------------------------------------------
.navbar
--------------------------------------------------------------
*/

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  border-radius: 0;
  margin-bottom: 0;
}

/*
--------------------------------------------------------------
.navbar-header
--------------------------------------------------------------
*/

.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
  margin-left: 0;
}

/*
--------------------------------------------------------------
.navbar-brand
--------------------------------------------------------------
*/

.navbar-brand {
  float: left;
  height: 50px;
  padding: 9px 0;
  font-size: 18px;
  line-height: 20px;
}

.navbar-brand img {
  height: 32px;
  vertical-align: top;
}

.navbar-brand h3 {
  margin: 9px 6px 1px;
  font-size: 20px;
  display: inline-block;
  font-weight: 400;
}

.navbar-brand h3 span {
  color: #942A01;
  font-weight: 600;

}

.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}
@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: 0px;
  }
}